.grid__wrapper {
  margin: 20px;
}

.grid--title {
  margin: 10px;
}

.grid--books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bookCard {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.book__image {
  width: 50px;
  height: 50px;
}

.form--center {
  display: flex;
  justify-content: center;
}

.flex__container {
  padding: 0 20px;
}

.form {
  padding: 0 20px;
  display: flex;
}

.form__input__wrapper {
  margin-right: 20px;
}

.flex--label {
  padding: 0 10px;
}
